:root {
    --background-color: #F8F9FA;
    --navbar-color: #FFFFFF;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --btn-color: rgb(136, 106, 225);
    --primary-text-color: #2B2D42;
    --secondary-text-color: #4A4E69;
    --text-color: #000;
    --text-color-light: #9f9f9f;
    --btn-hover-color: #e4e7ea;
    --bg-gradient-start: #f5f7fa;
    --bg-gradient-end: #c3cfe2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--background-color);
    color: var(--primary-text-color);

}