.main-content {
    text-align: center;
    color: var(--text-color);
}

.main-content h1 {
    font-size: 70px;
}

.main-content p {
    font-size: 40px;
    color: var(--secondary-text-color);
}


.search-container {
    position: relative;
    margin-top: 10px;
}

.search-container .search-input {
    height: 70px;
    border-radius: 24px;
    padding-left: 40px;
    /* Space for the icon */
    border: 1px solid #ddd;
    /* Light border */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    width: 100%;
    /* Full width */
    font-size: 16px;
    /* Adjust font size */
    outline: none;
    /* Remove default focus outline */
}

.search-input:focus {
    border-color: #4285F4;
    box-shadow: 0 2px 8px rgba(66, 133, 244, 0.2);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.mycontainer {
    display: flex;
    justify-content: center;
}

.typewriter h1 {
    /* color: #fff; */
    color: var(--primary-text-color);
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #cdcdcd;
    /* The typewriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Centers the text */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 15s steps(16, end) infinite,
        blink-caret .75s step-end infinite;
}

.card-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
    padding-top: 2em;
    padding-inline: 1em;
}

.card-gallery .card {
    flex: 1 1 calc(20% - 10px);
    max-width: calc(20% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The typing and deleting effect */
@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
        /* Fully typed */
    }

    100% {
        width: 0;
        /* Fully deleted */
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--btn-color);
    }
}