.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.nav-links :last-child {
    margin-right: 2vh;
}

.nav-item span,
button {
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-item span:hover {
    color: #ff6b6b;
}

.navbar .nav-item {
    color: white;
}

.signup-btn {
    background-color: #cdcdcd;
    border-radius: 10%;
    transition: ease 0.3s;
}

.login-btn {
    background-color: transparent;
    transition: ease 0.3s;
    border: none;
}

.signup-btn:hover {
    background-color: rgb(1, 22, 56);
}