.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 20px;
    background-color: var(--navbar-color);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px var(--box-shadow-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo span {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.nav-item span,
.navbar button {
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
}

ion-icon {
    margin-right: 1vh;
}

.nav-item span:hover {
    color: #CDCDCD;
}

.navbar .nav-item {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-btn {
    background-color: transparent;
    transition: ease 0.3s;
    border: 1px solid var(--background-color);
    height: 7.5vh;
    width: 18vh;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
}